POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_pwd
POSTGRES_DB=your_db
POSTGRES_PORT=your_port

ConnectionStrings__PostgreSql=Host=localhost;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
